################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/NoteTaker/NoteTaker.Droid/bin/Debug
/NoteTaker/NoteTaker.Droid/obj
/NoteTaker/NoteTaker.Droid/bin/Debug
*.user
/NoteTaker/NoteTaker.Shared/obj/Debug
/NoteTaker/NoteTaker.Shared/bin/Debug
/NoteTaker/WUG.Client.Droid/bin/Debug
/NoteTaker/WUG.Client.Droid/obj/Debug
/NoteTaker/WUG.Client.Shared/bin/Debug
/NoteTaker/WUG.Client.Shared/obj/Debug
/NoteTaker/WUG.Core.Services.DataEntities/bin/Debug
/NoteTaker/WUG.Core.Services.DataEntities/obj/Debug
/NoteTaker/packages/Newtonsoft.Json.10.0.3
/NoteTaker/packages/System.Net.Http.4.3.2
