################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/NoteTaker/NoteTaker.Droid/bin/Debug
/NoteTaker/NoteTaker.Droid/obj
/NoteTaker/NoteTaker.Droid/bin/Debug
*.user
/NoteTaker/NoteTaker.Shared/obj/Debug
/NoteTaker/NoteTaker.Shared/bin/Debug
/NoteTaker/WUG.Client.Droid/bin/Debug
/NoteTaker/WUG.Client.Droid/obj/Debug
/NoteTaker/WUG.Client.Shared/bin/Debug
/NoteTaker/WUG.Client.Shared/obj/Debug
/NoteTaker/WUG.Core.Services.DataEntities/bin/Debug
/NoteTaker/WUG.Core.Services.DataEntities/obj/Debug
/NoteTaker/packages/Newtonsoft.Json.10.0.3
/NoteTaker/packages/System.Net.Http.4.3.2
/NoteTaker/packages
/NoteTaker/WUG.Client.Shared.Tests/obj/Debug
/NoteTaker/WUG.Client.Shared.Tests/bin/Debug
/NoteTaker/WUG.Client.Forms/WUG.Client.Forms/bin/Debug
/NoteTaker/WUG.Client.Forms/WUG.Client.Forms/obj/Debug
/NoteTaker/WUG.Client.Forms/WUG.Client.Forms.Android/bin/Debug
/NoteTaker/WUG.Client.Forms/WUG.Client.Forms.Android/obj
/NoteTaker/WUG.Client.Forms/WUG.Client.Forms.iOS/obj/iPhone/Debug
/NoteTaker/WUG.Client.Forms/WUG.Client.Forms/obj/Release
/NoteTaker/WUG.Client.Forms/WUG.Client.Forms/bin/Release
/NoteTaker/WUG.Client.Forms/WUG.Client.Forms.Android/bin/Release
/NoteTaker/WUG.Client.Forms/WUG.Client.Forms.iOS/obj/iPhone/Release
/NoteTaker/WUG.Client.Shared/bin/Release
/NoteTaker/WUG.Client.Shared/obj/Release
/NoteTaker/WUG.Client.Shared.Tests/obj/Release
/NoteTaker/WUG.Core.Services.DataEntities/obj/Release
/NoteTaker/WUG.Core.Services.DataEntities/bin/Release
/NoteTaker/NoteTaker.Shared/obj/Release
/NoteTaker/WUG.Client.Droid/obj/Release
NoteTaker/.vs/
NoteTaker/WUG.Client.Forms/WUG.Client.Forms.iOS/obj/
